#App, .hand .cards .card-list {
  width: 100%; }

#App, #Table, .hand .cards .card-list, .hand h2 {
  margin: 0; }

#App, .hand .cards .card-list {
  padding: 0; }

.hand .cards .cards-bg .bg-outline, .hand .cards .card-list .card {
  width: 75px;
  height: 105px; }

* {
  box-sizing: border-box; }

#Table, #Dealer, #User {
  position: absolute;
  left: 0;
  width: 100%; }

#Table, #Dealer {
  top: 0; }

#Table, #User {
  bottom: 0; }

#Table {
  background: #0d694d; }

#Dealer, #User {
  text-align: center;
  padding: 50px 10px; }

.hand .cards {
  position: relative;
  text-align: center; }
  .hand .cards:first-child {
    margin-bottom: 15px; }
  .hand .cards .cards-bg, .hand .cards .card-list {
    height: 105px; }
  .hand .cards .cards-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; }
    .hand .cards .cards-bg .bg-outline {
      display: inline-block;
      border: 3px solid rgba(255, 255, 255, 0.5);
      border-radius: 5px; }
  .hand .cards .card-list {
    list-style: none; }
    .hand .cards .card-list .card {
      display: inline-block;
      margin: 0 0 0 -36px;
      vertical-align: top;
      background: transparent;
      border-radius: 5px;
      box-shadow: -1px 0px 2px 2px rgba(0, 0, 0, 0.15); }
      .hand .cards .card-list .card:first-child {
        margin-left: 0; }
      .hand .cards .card-list .card img {
        vertical-align: top;
        width: 75px;
        height: 105px; }

.hand h2 {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-weight: 300; }
  .hand h2:first-child {
    margin-bottom: 15px; }

.actions {
  text-align: center;
  margin-top: 15px; }

.button {
  display: inline-block;
  min-width: 100px;
  padding: 10px;
  text-align: center;
  background: #fff;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer; }

#Results {
  position: absolute;
  top: calc( 50% - 28px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); }
  #Results p {
    text-align: center;
    padding: 50px 0; }
