%full_width {
	width: 100%;
}

%margin_zero {
	margin: 0;
}
%padding_zero {
	padding: 0;
}

* {
	box-sizing: border-box;
}

// MAIN LAYOUT

#App {
	@extend %full_width;
	@extend %margin_zero;
	@extend %padding_zero;
}

#Table {
	@extend %margin_zero;
	padding: 50px;
	background: #0d694d;
}

#Dealer {
	margin: 0px auto 100px auto;
}

#User {
	margin: 0px auto 30px auto;
}

// CARDS
.cards {
	text-align: center;
}

.card {
	display: inline-block;
	margin: 0 10px;
	width: 75px;
	height: 105px;
	vertical-align: top;
	background: #197ac9;
	color: #197ac9;
	border: 1px solid #fff;
	border-radius: 4px;
}

.show-card {
	background: #fff;
}

// actions

.actions {
	text-align: center;
	margin: 15px auto;
}

.button {
	display: inline-block;
	min-width: 100px;
	padding: 10px;
	text-align: center;
	background: #fff;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
}
